# Файлы Python
*.pyc
__pycache__/
venv/
env/
*.egg-info/
dist/
build/

# Виртуальное окружение (если используется venv или virtualenv)
venv/
env/

# Файлы секретов и конфиденциальной информации
.env
config.py

# Логи и временные файлы
*.log
*.swp
*.swo
*.tmp

# Статические и медиа файлы, которые генерируются во время выполнения
static/
media/

# Кэши и временные файлы
.cache/
.tmp/

# IDE-специфические файлы
.vscode/
.idea/
